# Visual Studio cache
.vs/

# Packages dependencies can be restored
packages/Newtonsoft.Json.12.0.3/
packages/System.Data.SQLite.Core.1.0.112.0/
packages/Ookii.Dialogs.Wpf.1.1.0/

# Debugging data generated
xBot/bin/debug/
xBot/obj/